<h1> Welcome to Picritique: Submit Your Pics For Strangers to Rate </h1>

<%= link_to 'Back', users_path %>
<%= link_to 'Login', "/login", :method=> :get %>
<%= link_to 'Create Account', new_user_path %>